.navprincipal{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.botonesnav{
    padding: 3px;
    color: white;
    border: 1px solid;
    border-color: black;
    background-color: lightgrey;
    width: 150px;
    text-align: center;
}
.botonesnav:hover{
    cursor:pointer;
    background-color: grey;
}
a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}